<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ПРАКТИЧЕСКАЯ РАБОТА №3</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css">
</head>
<body style="background: #5CDB95">
<form th:action = "${'/Add/Manager'}" method="post">
    <input type="text" name="surname" placeholder="Фамилия"><br> <br>
    <input type="text" name="name" placeholder="Имя"><br> <br>
    <input type="text" name="middlename" placeholder="Отчество"><br> <br>
    <input type="date" name="bthday" placeholder="Дата рождения"><br> <br>
    <input type="text" name="SeriaPass" placeholder="Серия паспорта"><br> <br>
    <input type="text" name="NomPass" placeholder="Номер паспорта"><br> <br>
    <input type="text" name="AdresReg" placeholder="Адрес регистрации"><br> <br>
    <input type="text" name="Email" placeholder="Email"><br> <br>

    <form>
        <button type="submit" style="background: #379683"> Добавить сотрудника</button>
    </form>

</form>
</body>
</html>
